$bg-1: #322e4a;
//$bg-1: hsl(250, 28%, 11%);
$bg-2: darken($bg-1, 15);

$white-1: #FBFAFE;
$white-2: #9E99C1;
$white-3: #383358;
$white-4: #282347;

$black-1: #1f2158;
$black-2: darken($black-1, 10);
$black-3: darken($black-2, 5);

// $neon-1: #5474FB;
// $neon-2: #283CD2;
$neon-1: hsl(220, 95%, 65%);
$neon-2: hsl(210, 68%, 49%);

$neon-1-blue: hsl(220, 95%, 65%);
$neon-2-blue: hsl(210, 68%, 49%);

$neon-1-red: hsl(0, 100%, 50%);
$neon-2-red: hsl(0, 100%, 50%);

$neon-1-green: hsl(120, 100%, 50%);
$neon-2-green: hsl(120, 100%, 50%);

$poster-1: #0F1110;
$poster-2: #0F1110;

$wall-background-image-url: 'https://img.freepik.com/premium-photo/detail-futuristic-machine-3d-illustration-futuristic-wall-made-various-details-cyberpunk-background-industrial-wallpaper-grunge-details_116124-11825.jpg?w=1800';